.tweet {
  list-style-type: none;
  padding: 6px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.tweet p {
  margin-bottom: 0;
}

.timestamp {
  color: #d1d1d1;
}

.tweet img {
  display: none;
}

@media (min-width: 550px) {
  .tweet img {
    display: block;
    border-radius: 4px;
    width: 100%;
  }
}